* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);

  /*other styles*/
  .....
}

h1 {
  color: var(--secondary-color);

  /*other styles*/
  .....
}

a {
  color: var(--primary-color);

  /*other styles*/
  .....
}


.header-wrap {
  margin: 120px 0;
  text-align: center;
  font-family: sans-serif;
  color: rgb(221, 221, 221);
}

.header-wrap h1 {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 46px;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1100px;
  
  em {
    margin-left: 10px;
    font-size: 5rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #58d85f;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*ace*/
.ace_editor {
	font-size: 14px !important;
}

#ide-parent {
  width: 90%;
  height: auto;
  border-radius: 1em;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

#button-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
}

#button-wrapper button {
  width: 25%;
  border: none;
  background: #00325E;
  cursor: pointer;
  text-transform: uppercase;
  color: #ddd;
  font-family: "Arial", sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  outline: none;
  transition-duration: 300ms;
}

#button-wrapper button:hover {
  background: #000E1B;
}

#ide-container {
  width: 100%;
  height: 400px;
  overflow: auto;
}

.panel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#html {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#css {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#js {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#result {
  width: 100%;
  height: 100%;
  background: #002240;
  border: none;
}

.ace-dracula {
  background-color: #162447 !important;
}

.ace-dracula .ace_gutter {
  background: #162447 !important;
}

.ace_scrollbar-h {
  scrollbar-color: #1f4068 #162447 !important;
  scrollbar-width: thin !important;
  cursor: pointer;
}

.ace_scrollbar-v {
  scrollbar-color: #1f4068 #162447 !important;
  scrollbar-width: thin !important;
  cursor: pointer;
}

.ace_scrollbar-h::-webkit-scrollbar {
  border: none;
  height: 0.6em;
}

.ace_scrollbar-h::-webkit-scrollbar-thumb {
  background: #1f4068;
  border: none;
}

.ace_scrollbar-h::-webkit-scrollbar-thumb:hover {
  background: #173458;
}

.ace_scrollbar-h::-webkit-scrollbar-track {
  background: transparent;
}

.ace_scrollbar-v::-webkit-scrollbar {
  border: none;
  width: 0.6em;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb {
  background: #1f4068;
  border: none;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb:hover {
  background: #173458;
}

.ace_scrollbar-v::-webkit-scrollbar-track {
  background: transparent;
}

.description {
  max-width: 500px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
  color: #ddd;
  font-family: sans-serif;
  font-size: 14px;
}

.description p {
  line-height: 24px;
}

.description svg {
  width: 50px;
  cursor: pointer;
  height: auto;
  margin-top: 24px;
}

.description svg path {
  fill: #e43f5a;
}

.description a {
  color: #e43f5a;
}

.footer {
  text-align: center;
  color: rgba(221, 221, 221, 0.6);
  font-family: sans-serif;
  font-size: 13px;
  background: #000E1B;
  padding: 70px 0;
}

.inner-wrap {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-wrap img {
  width: 24px;
  height: auto;
}

.inner-wrap a {
  margin-left: 24px;
}

.icons-wrap {
	display: flex;
	align-items: center;
}
